@import 'header';
@import 'mixins';
$asideBackgrandColor:#fff;
$asideColor: #9367e6;


aside{
  background-color: $asideBackgrandColor;
  border-radius: inherit;
  padding: 25px;
  flex: 3;

  @include bp-two{
    flex:4;
  }

  @include bp-three{
    display: none;
  }

}

// @include bp-one{
//   @extend .search-container;
// }

.aside-title{
  font-size: normal;
  font-weight: bold;
}


.aside-sub-title{
  display: flex;
  justify-content: space-between;
  font-size: small;

  :first-child{
    color: grey;
  }
  
  .open{
    color: #000;
    font-weight: bold ;
  }

  img{
    width: 15px;
    height: 15px;
  }

}


aside section ul{
  list-style: none;
}


.checkbox-list{
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;


  input:not(:checked),
  input:checked {
    position: absolute;
    left: -9999px;
  }
  input:not(:checked)+label,
  input:checked+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  input:not(:checked)+label:before,
  input:checked+label:before {
  content: '';
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border:1px solid rgb(180, 180, 180);
  outline: none;
}

input:not(:checked)+label:after,
input:checked+label:after {
  content: '✔';
  position: absolute;
  left: 0px;
  font-size: 20px;
  line-height: 0.8;
  color: #fff;
  background-color: $asideColor;
  border-radius: 4px;
}

input:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}
input:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

   div label{
    font-size: small;
    font-weight: lighter;
  }

  .number{
    background-color: lighten($asideColor,30);
    color: lighten($asideColor, 5);
    border-radius: 5px;
    padding: 5px;
    font-size: xx-small;
  }

  img {
    height: 12px;
    width: 12px; 
  }

}
