@import 'mixins';
$headerBackgrandColor:#fff;
$navTextColor: #6666CC;

.header{
  display: flex;
  justify-content: flex-end;
  background-color: $headerBackgrandColor;
  border-radius: 0px 18px;
  height:10%;
  width: inherit;
  margin-left: 15px;
  padding-left: 20px;
  align-items: center;

  // @include bp-three{
  //   // flex-basis: 45%;
  //   // width: 50%;
  // }

}

/* all direct childs of .header */
.header > *{
}

.nav{
  flex-grow: 4;
  
  display: flex;
  // align-items: stretch;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  height: 100%;
  
  a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: small;
    color: $navTextColor;
    // padding-top: 8%;
    padding-left: 5px;
    padding-right: 5px;

    @include bp-three{
      font-size: normal;
      // padding-top: -5px;
    }

  }

  .active{
    box-shadow: inset 0 -2px $navTextColor;
    align-self:stretch;
    padding-top: 25px;

    @include bp-three{
      padding-top: 35px;
    }
  }

}

.search-container{
  flex-grow: 1;

  form{
    display: flex;
    justify-content: flex-end;
  }

  input{
    width: 100px;
    border:0;
  }

  button{
    border-radius: 10px;
    border: 0;
    background: #e9e9fc;
    padding: 5px 8px;
  }

  img{
    width: 20px;
    height: 20px;
    border-radius: 18px;
  }

  @include bp-one{
    display: none;
  }

}


.profile{
  display: flex;
  flex-grow: 1;

  img{
    border-radius: 12px;
    width: 40px;
    height: 40px;
    margin: 0px 10px;
  }

  #profile-name{
    color: gray;

    :first-child{
      font-size: x-small;
      margin: 4px 0px;
    }

    :last-child{
      font-size: normal;
    }

  }

  @include bp-two{
    display: none;
  }

}

