@import 'mixins';

$baseColor:#f3f3fc;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  // background: -webkit-linear-gradient($baseColor, $baseColor 65%, #e9e9f8 65%, #e9e9f8);
  @include verticalGradient($baseColor, #e9e9f8);
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: $baseColor;
  box-shadow: 0 4px 8px 0 rgba(20, 0, 40, 0.2), 0 6px 20px 0 rgba(20, 0, 40, 0.19);
  border-radius: 18px;
  margin: 5% 15%;
  // @include bp-tablet{
  //   margin:10Px;
  // }
}

@import 'aside';

.flex-helper{
  flex: 12;
  padding-bottom: 30px;
}

@import 'header';

@import 'main';

