@charset "UTF-8";
/* Media Query Mixins */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3fc), color-stop(65%, #f3f3fc), color-stop(65%, #e9e9f8), to(#e9e9f8));
  background: linear-gradient(#f3f3fc, #f3f3fc 65%, #e9e9f8 65%, #e9e9f8);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f3fc;
  -webkit-box-shadow: 0 4px 8px 0 rgba(20, 0, 40, 0.2), 0 6px 20px 0 rgba(20, 0, 40, 0.19);
          box-shadow: 0 4px 8px 0 rgba(20, 0, 40, 0.2), 0 6px 20px 0 rgba(20, 0, 40, 0.19);
  border-radius: 18px;
  margin: 5% 15%;
}

/* Media Query Mixins */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #fff;
  border-radius: 0px 18px;
  height: 10%;
  width: inherit;
  margin-left: 15px;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* all direct childs of .header */
.nav {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: small;
  color: #6666CC;
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 755px) {
  .nav a {
    font-size: normal;
  }
}

.nav .active {
  -webkit-box-shadow: inset 0 -2px #6666CC;
          box-shadow: inset 0 -2px #6666CC;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding-top: 25px;
}

@media only screen and (max-width: 755px) {
  .nav .active {
    padding-top: 35px;
  }
}

.search-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-container input {
  width: 100px;
  border: 0;
}

.search-container button {
  border-radius: 10px;
  border: 0;
  background: #e9e9fc;
  padding: 5px 8px;
}

.search-container img {
  width: 20px;
  height: 20px;
  border-radius: 18px;
}

@media only screen and (max-width: 1300px) {
  .search-container {
    display: none;
  }
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.profile img {
  border-radius: 12px;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}

.profile #profile-name {
  color: gray;
}

.profile #profile-name :first-child, .profile #profile-name .article-btn :last-child, .article-btn .profile #profile-name :last-child {
  font-size: x-small;
  margin: 4px 0px;
}

.profile #profile-name :last-child {
  font-size: normal;
}

@media only screen and (max-width: 950px) {
  .profile {
    display: none;
  }
}

/* Media Query Mixins */
aside {
  background-color: #fff;
  border-radius: inherit;
  padding: 25px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

@media only screen and (max-width: 950px) {
  aside {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media only screen and (max-width: 755px) {
  aside {
    display: none;
  }
}

.aside-title {
  font-size: normal;
  font-weight: bold;
}

.aside-sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: small;
}

.aside-sub-title :first-child, .aside-sub-title .article-btn :last-child, .article-btn .aside-sub-title :last-child {
  color: grey;
}

.aside-sub-title .open {
  color: #000;
  font-weight: bold;
}

.aside-sub-title img {
  width: 15px;
  height: 15px;
}

aside section ul {
  list-style: none;
}

.checkbox-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0px;
}

.checkbox-list input:not(:checked),
.checkbox-list input:checked {
  position: absolute;
  left: -9999px;
}

.checkbox-list input:not(:checked) + label,
.checkbox-list input:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox-list input:not(:checked) + label:before,
.checkbox-list input:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid #b4b4b4;
  outline: none;
}

.checkbox-list input:not(:checked) + label:after,
.checkbox-list input:checked + label:after {
  content: '✔';
  position: absolute;
  left: 0px;
  font-size: 20px;
  line-height: 0.8;
  color: #fff;
  background-color: #9367e6;
  border-radius: 4px;
}

.checkbox-list input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.checkbox-list input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checkbox-list div label {
  font-size: small;
  font-weight: lighter;
}

.checkbox-list .number {
  background-color: #f0eafc;
  color: #a37dea;
  border-radius: 5px;
  padding: 5px;
  font-size: xx-small;
}

.checkbox-list img {
  height: 12px;
  width: 12px;
}

.flex-helper {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
  padding-bottom: 30px;
}

/* Media Query Mixins */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #fff;
  border-radius: 0px 18px;
  height: 10%;
  width: inherit;
  margin-left: 15px;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* all direct childs of .header */
.nav {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: small;
  color: #6666CC;
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 755px) {
  .nav a {
    font-size: normal;
  }
}

.nav .active {
  -webkit-box-shadow: inset 0 -2px #6666CC;
          box-shadow: inset 0 -2px #6666CC;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding-top: 25px;
}

@media only screen and (max-width: 755px) {
  .nav .active {
    padding-top: 35px;
  }
}

.search-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-container input {
  width: 100px;
  border: 0;
}

.search-container button {
  border-radius: 10px;
  border: 0;
  background: #e9e9fc;
  padding: 5px 8px;
}

.search-container img {
  width: 20px;
  height: 20px;
  border-radius: 18px;
}

@media only screen and (max-width: 1300px) {
  .search-container {
    display: none;
  }
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.profile img {
  border-radius: 12px;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}

.profile #profile-name {
  color: gray;
}

.profile #profile-name :first-child, .profile #profile-name .article-btn :last-child, .article-btn .profile #profile-name :last-child {
  font-size: x-small;
  margin: 4px 0px;
}

.profile #profile-name :last-child {
  font-size: normal;
}

@media only screen and (max-width: 950px) {
  .profile {
    display: none;
  }
}

/* Media Query Mixins */
main {
  width: inherit;
}

.categories {
  margin: 15px 5px;
}

@media only screen and (max-width: 1300px) {
  .categories {
    margin: 15px 15px;
  }
}

.categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}

@media only screen and (max-width: 950px) {
  .categories ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.categories ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  border-radius: 18px;
  margin: 8px;
  padding: 7px;
  width: 25%;
}

@media only screen and (max-width: 1300px) {
  .categories ul li {
    border-radius: 10px;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media only screen and (max-width: 950px) {
  .categories ul li {
    border-radius: 18px;
  }
}

@media only screen and (max-width: 755px) {
  .categories ul li {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

.categories ul li img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 1300px) {
  .categories ul li img {
    height: 20px;
    width: 20px;
    padding: 0px;
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .categories ul li img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    padding: 5px;
  }
}

.categories ul li .vacancy-numder {
  font-size: x-small;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 1300px) {
  .categories ul li .vacancy-numder {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .categories ul li .vacancy-numder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.categories ul li .category-name {
  font-size: small;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 1300px) {
  .categories ul li .category-name {
    font-size: x-small;
    font-weight: normal;
    margin: 5px;
  }
}

@media only screen and (max-width: 950px) {
  .categories ul li .category-name {
    font-size: small;
    margin: 0px;
  }
}

.categories ul li:first-child, .categories ul .article-btn li:last-child, .article-btn .categories ul li:last-child {
  background-color: rgba(106, 106, 243, 0.8);
}

.categories ul li:nth-child(2) {
  background-color: rgba(147, 103, 230, 0.8);
}

.categories ul li:nth-child(3) {
  background-color: rgba(255, 91, 132, 0.8);
}

.categories ul li:last-child {
  background-color: rgba(255, 153, 51, 0.8);
}

.main-title {
  margin-left: 20px;
  font-weight: bold;
  font-size: normal;
}

@media only screen and (max-width: 1300px) {
  .main-title {
    margin-left: 30px;
  }
}

.article-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
  margin-bottom: 15px;
  height: 480px;
  overflow-y: hidden;
}

@media only screen and (max-width: 1300px) {
  .article-flex {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.article-flex article {
  background-color: #fff;
  border-radius: 18px;
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  width: 215px;
  height: 220px;
}

.article-flex article .article-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-flex article .article-image :first-child, .article-flex article .article-image .article-btn :last-child, .article-btn .article-flex article .article-image :last-child {
  margin-bottom: 10px;
  border-radius: 15px;
  width: 45px;
  height: 45px;
}

.article-flex article .article-image :last-child {
  width: 15px;
  height: 15px;
}

.article-flex article .user-name {
  font-size: small;
  font-weight: bolder;
}

.article-flex article .price {
  font-size: small;
  font-weight: bold;
  color: #6666CC;
}

.article-flex article .vocation {
  font-size: x-small;
  font-weight: bold;
  color: grey;
  margin: 5px 0px;
}

.attributes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  margin: 15px 0px;
}

.attributes ul li {
  background-color: #ececf9;
  border-radius: 10px;
  color: Grey;
  font-size: x-small;
  padding: 3px 12px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.article-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  bottom: 10px;
}

.article-btn :first-child, .article-btn :last-child {
  background-color: rgba(88, 76, 247, 0.75);
  color: #fff;
  font-size: small;
  font-weight: lighter;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
  height: 30px;
  width: 85px;
  margin-left: 5px;
}

.article-btn :last-child {
  background-color: #fff;
  color: #6666CC;
}
/*# sourceMappingURL=style.css.map */