* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: -webkit-linear-gradient(#f3f3fc, #f3f3fc 65%, #e9e9f8 65%, #e9e9f8);
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  background-color: #f3f3fc;
  box-shadow: 0 4px 8px 0 rgba(20, 0, 40, 0.2), 0 6px 20px 0 rgba(20, 0, 40, 0.19);
  border-radius: 18px;
  margin: 5% auto;
  padding: 5% auto;
  /* width: 70vw;
  height: 70vh; */
  max-width: 1100px;
  /* width: 90%; */
}


.flex-helper{
  margin:0;
}


/************************************header***************************************/

.header{
  display: flex;
  justify-content: left;
  background-color: #fff;
  border-radius: 0px 18px;
  height:8%;
  /* padding: 10px; */
  align-items: stretch;
}

/* all direct childsof .header */
.header > *{
  margin-right: 10px;
  padding-top: 1.5%;
  /* padding-left: 10%; */
}

.nav{
  flex-grow: 3;
}

.nav ul{
  display: flex;
  /* align-items: stretch; */
  list-style: none;
  justify-content: space-evenly;
  height: 100%;
  margin-left: 30px;
  padding-top: 8px;
}


.nav ul li{
  width: 25%;
  align-items: stretch;
}

.nav ul li a{
  display: block;
  text-decoration: none;
  text-align: center;
  color: #6666CC;
  transition: 0.3s;
}

/* .nav a:hover{
  box-shadow: inset 0 -2px #6666CC;
} */

.active{
  box-shadow: inset 0 -2px #6666CC;
}

.search-container{
  /* margin: 15px 10px; */
  flex-grow: 1;
}

.search-container form{
  display: flex;
  justify-content: flex-end;
}

.search-container form button{
  border-radius: 18px;
  border: 0;
  background: #e9e9fc;
}
.search-container form input{
  border:0;
}

.search-container img{
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: #fff;
}

.profile{
  display: flex;
  flex-grow: 1;
}

.profile img{
  /* display: inline-block; */
  border-radius: 12px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#profile-name{
  color: gray;
}

#profile-name :first-child{
  font-size: small;
  margin: 2px 0px;
}

#profile-name :last-child{
  font-size: large;
}
/************************************main***************************************/


.article-flex{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.article-flex article{
  background-color: #fff;
  border-radius: 18px;
  margin: 10px;
  /* width: 31%; */
  height:270px;
  width: 260px;
}

.user-name{
  font-weight: bold;
  margin: 10px;
}

.price{
  color: #6666CC;
}

.vocation{
  font-size: small;
  color: grey;
  /* margin-top: 7px; */
  margin: 10px;
}


.categories ul li:last-child{
  background-color: #ff9933;  
}

.categories ul li:nth-child(3){
  background-color: rgb(255, 91, 132);
}

.categories ul li:nth-child(2){
  background-color: #9367e6;
}

.categories ul li:first-child{
  background-color: rgb(106, 106, 243);
}


.categories ul li img{
  width: 30px;
  height: 30px;
  margin:0 5px;
}

.categories ul li{
  display: flex;
  border-radius:18px;
  margin: 10px;
  padding: 8px;
  width:25%;
  height:45px;
}

.categories ul{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.categories{
  margin: 15px 5px;
}


.vacancy-numder{
  font-size: x-small;
  color: rgba(255, 255, 255, 0.5);
}

.category-name{
  font-size: small;
  color: rgba(255, 255, 255, 0.9);
}


.attributes{
  margin-left: 10px;
}

.attributes ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.attributes ul li{
  background-color: #f0f0fa;
  border-radius: 10px;
  margin: 2Px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: Grey ;
  font-size: small;
  padding:5px 18px;

}


article div button{
  border-radius: 10px;
  border:1px solid rgb(199, 199, 199);
  height: 35px;
  width: 100px;
}

.button{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button :first-child{
  background-color: #8e56f5;
  color: #fff;
  margin-right: 3px;
}

.button :last-child{
  background-color: #fff;
  color: #6666CC;
  margin-left: 3px;
}




.article-flex article div img{
  margin: 10px;
  border-radius: 18px;
  width: 60px;
  height: 60px;
}

.main-title{
  margin: 20px;
  font-weight: bold;
  font-size: large;
}

/************************************aside***************************************/

aside{
  background-color: #fff;
  border-radius: inherit;
  margin-right: 10px;
  width: 40%;
}


.aside{
  padding: 25px;
}

.aside-title{
  font-size: large;
  font-weight: bold;
}

.aside-sub-title{
  display: flex;
  justify-content: space-between;
}

.aside-sub-title :first-child{
   color: grey;
}

.aside-sub-title .open{
  color: #000;
  font-weight: bold ;
}

.aside-sub-title img{
  background-color: #000;
  width: 15px;
  height: 15px;
}

.aside section ul{
  list-style: none;
}

.checkbox-list{
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}

.checkbox-list input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    border: 1px solid rgb(180, 180, 180);
    margin-right: 5px;
    border-radius: 4px;
/* .container input:checked ~ .checkmark {
  background-color: #2196F3;
}
     */
}


.checkbox-list input:checked {
  background-color:#9367e6;
}

.checkbox-list div span{
  font-size: small;
}

.number{
  background-color: #f0f0fa;
  color: #9292df;
  border-radius: 5px;
  padding: 5px;
  font-size: x-small;
}

.checkbox-list img {
  height: 12px;
  width: 12px; 
}